.node-red/flow.json
[{"type":"tab","id":"820f9b60.7df068","label":"API"},{"id":"120089d9.edff76","type":"subflow","name":"Authentication","in":[{"x":94,"y":95,"wires":[{"id":"f5e17bb3.0a1e88"}]}],"out":[{"x":1168,"y":156,"wires":[{"id":"d62e29b6.29d1d8","port":0}]}]},{"id":"d43ac365.2bc54","type":"subflow","name":"Find file by Id","in":[{"x":153.75000190734863,"y":194.75000476837158,"wires":[{"id":"1ec026a4.e13fd9"}]}],"out":[{"x":1493.7500019073486,"y":194.50000190734863,"wires":[{"id":"9b4da8c5.64b258","port":0}]}]},{"id":"787db83c.878248","type":"subflow","name":"Delete file By Id","in":[{"x":168,"y":250,"wires":[{"id":"f3ce00ae.0c32"}]}],"out":[{"x":1315,"y":250,"wires":[{"id":"28bd5f78.d742a","port":0}]}]},{"id":"9810b069.67ef5","type":"subflow","name":"Get file list","in":[{"x":205,"y":135,"wires":[{"id":"d3f5af6c.2c0a5"}]}],"out":[{"x":1448,"y":138,"wires":[{"id":"5672f232.a98d0c","port":0}]}]},{"id":"d372bdf6.2c8d4","type":"subflow","name":"Get File Info","in":[{"x":90,"y":152,"wires":[{"id":"56620490.a99dfc"}]}],"out":[{"x":1112,"y":152,"wires":[{"id":"7cdbab87.832454","port":0}]}]},{"id":"3ea985c9.c1567a","type":"subflow","name":"Update File Info","in":[{"x":80,"y":187,"wires":[{"id":"561b40cb.a9e4c"}]}],"out":[{"x":1426,"y":190,"wires":[{"id":"72d70ebb.8d28f","port":0}]}]},{"id":"b2ad4f85.4d52b","type":"subflow","name":"Search File","in":[{"x":81,"y":239,"wires":[{"id":"3ed37c58.c12c84"}]}],"out":[{"x":1144,"y":238,"wires":[{"id":"b4d81376.4b27f","port":0}]}]},{"id":"5e7aba6d.a18544","type":"subflow","name":"Accept Uploaded File","in":[{"x":81,"y":166,"wires":[{"id":"a3455558.5cbaa8"}]}],"out":[{"x":1455,"y":163,"wires":[{"id":"7eef2ec2.8110d","port":0}]}]},{"id":"d02fa74c.2fd058","type":"mongodb config","name":"mongo-file-server","host":"ds043358.mongolab.com","port":"43358","database":"wavelet-mongo-test","user":"admin"},{"id":"d62e29b6.29d1d8","type":"switch","name":"","property":"code","rules":[{"t":"eq","v":"200"},{"t":"else"}],"checkall":"true","outputs":2,"x":805,"y":166,"z":"120089d9.edff76","wires":[[],["88366f03.77c99"]]},{"id":"ab03ac1c.54fc5","type":"function","name":"Verify Basic Auth","func":"var req = msg.req;\n\n// get authentication tokens from global property\nvar authTokens = msg.payload;\n\nvar basicAuth = req.get('Authorization');\n\n\nif (!basicAuth || authTokens.indexOf(basicAuth) < 0) {\n    msg.code = 401;\n    msg.payload = 'No authorized';\n\n    return msg;\n}\n\nmsg.code = 200\n\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":166,"z":"120089d9.edff76","wires":[["d62e29b6.29d1d8"]]},{"id":"88366f03.77c99","type":"function","name":"Auth Request","func":"\nmsg.headers = {\n    \"WWW-Authenticate\": 'Basic realm=\"wavelet\"'\n}\n\nmsg.statusCode = 401;\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":255,"z":"120089d9.edff76","wires":[["7a409951.85bf68"]]},{"id":"7a409951.85bf68","type":"http response","name":"Request Auth","x":1208,"y":255,"z":"120089d9.edff76","wires":[]},{"id":"2cf9b0d8.d3065","type":"comment","name":"================= API ================","info":"","x":720.8571166992188,"y":732.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"8aa05f14.755fa","type":"http in","name":"","url":"/api/files","method":"get","swaggerDoc":"","x":125.85711669921875,"y":833.5714559555054,"z":"820f9b60.7df068","wires":[["fe34c463.01cb38"]]},{"id":"90f04e76.6f0fb","type":"http response","name":"","x":891.8571166992188,"y":833.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"fe34c463.01cb38","type":"function","name":"Prepare request parameter","func":"var page = msg.req.query.page || 0\nvar limit = msg.req.query.limit || 10\n\nmsg.payload.page = page\nmsg.payload.limit = limit\n\nreturn msg","outputs":1,"noerr":0,"x":386.85711669921875,"y":833.5714559555054,"z":"820f9b60.7df068","wires":[["48a58654.b75a78"]]},{"id":"9a3768dd.65c898","type":"http in","name":"","url":"/api/file","method":"delete","swaggerDoc":"","x":131.85711669921875,"y":1036.5714559555054,"z":"820f9b60.7df068","wires":[["9391c16d.6c6e4"]]},{"id":"9391c16d.6c6e4","type":"subflow:120089d9.edff76","x":322.85711669921875,"y":1036.5714559555054,"z":"820f9b60.7df068","wires":[["432d65bc.bcd29c"]]},{"id":"f60561f0.09faa","type":"http response","name":"","x":1532.8571166992188,"y":1037.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"432d65bc.bcd29c","type":"function","name":"Prepare request parameter","func":"var id = msg.req.query.id\n\nmsg.payload.id = id\n\nreturn msg","outputs":1,"noerr":0,"x":542.3015518188477,"y":1036.5714378356934,"z":"820f9b60.7df068","wires":[["d7de3321.2821d"]]},{"id":"6f05b15b.90fa5","type":"http in","name":"","url":"/api/file","method":"get","swaggerDoc":"","x":123.85711669921875,"y":934.5714559555054,"z":"820f9b60.7df068","wires":[["d19b90ac.2e647"]]},{"id":"986736ca.6798c8","type":"http response","name":"","x":874.8571166992188,"y":934.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"d19b90ac.2e647","type":"function","name":"Prepare request parameter","func":"var id = msg.req.query.id\n\nmsg.payload.id = id\n\nreturn msg","outputs":1,"noerr":0,"x":387.85711669921875,"y":934.5714559555054,"z":"820f9b60.7df068","wires":[["bb279037.44d87"]]},{"id":"9c873574.6378c8","type":"comment","name":"Get file list","info":"URL parameter:\n\n**page**: the current page\n\n**limit**:  number to be shown on each page, default 10\n\nexample:\nhttp://yourdomain.com/yourwebroot/api/files?page=0&limit=10","x":128.85711669921875,"y":795.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"65ac7e30.9a538","type":"comment","name":"get file information","info":"#### URL Parameter\n\n**id** the file id","x":154.85711669921875,"y":897.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"e2f8dfd7.1d072","type":"comment","name":"delete a file","info":"#### URL Parameter\n\n**id** the file id","x":133.85711669921875,"y":997.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"7288065d.8d77f8","type":"http in","name":"","url":"/api/file","method":"post","swaggerDoc":"","x":129.85711669921875,"y":1149.5714559555054,"z":"820f9b60.7df068","wires":[["546e4a1f.ab91b4"]]},{"id":"7e304911.81cfb8","type":"http response","name":"","x":887.8571166992188,"y":1149.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"85fcc400.7a034","type":"eventbus in","name":"","event":"http.upload.fail","x":199.14283752441406,"y":1734.5714635849,"z":"820f9b60.7df068","wires":[["9cff8d37.63007"]]},{"id":"9cff8d37.63007","type":"http response","name":"upload failed","x":503.14283752441406,"y":1734.5714635849,"z":"820f9b60.7df068","wires":[]},{"id":"546e4a1f.ab91b4","type":"subflow:120089d9.edff76","name":"","x":407.85711669921875,"y":1149.5714559555054,"z":"820f9b60.7df068","wires":[["bf8924c3.4076d8"]]},{"id":"75fde855.8a0218","type":"comment","name":"upload a file","info":"Accept multipart/form-data form to upload a file\n\nThe file input field name **MUST** be 'fx-file'","x":136.85711669921875,"y":1111.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"773464c5.88cb9c","type":"inject","name":"mongo-collection","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":162,"y":113,"z":"820f9b60.7df068","wires":[["e00c0e9f.eae288"]]},{"id":"78597d85.87a684","type":"set property","name":"","property":"collection-file","x":731,"y":113,"z":"820f9b60.7df068","wires":[[]]},{"id":"2d098465.d2f67c","type":"comment","name":"================= config ================","info":"","x":690,"y":39,"z":"820f9b60.7df068","wires":[]},{"id":"d5bef0ae.2a411","type":"inject","name":"accept extension","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":162,"y":173,"z":"820f9b60.7df068","wires":[["e34f79bb.1cb088"]]},{"id":"f0472386.0fb8e","type":"set property","name":"","property":"accept-extensions","x":712,"y":173,"z":"820f9b60.7df068","wires":[[]]},{"id":"e34f79bb.1cb088","type":"function","name":"accept file extension list","func":"// set to null to accept all extension\nmsg.payload = null;\n\n// Uncomment this to enable the white list\n// msg.payload = [\n//     'jpg', \n//     'png', \n//     'txt', \n//     'log', \n//     'zip',\n//     'pdf'\n// ];\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":173,"z":"820f9b60.7df068","wires":[["f0472386.0fb8e"]]},{"id":"b17b22be.4e84e","type":"catch","name":"","x":117.14283752441406,"y":1825.5714635849,"z":"820f9b60.7df068","wires":[["2a18ada0.d5e752"]]},{"id":"2a18ada0.d5e752","type":"debug","name":"","active":true,"console":"false","complete":"false","x":295.14283752441406,"y":1825.5714635849,"z":"820f9b60.7df068","wires":[]},{"id":"d7244a39.28dbb8","type":"comment","name":"========= error handling ===========","info":"","x":734.1428375244141,"y":1635.5714635849,"z":"820f9b60.7df068","wires":[]},{"id":"eb6c8509.149378","type":"mongodb default config","name":"","server":"d02fa74c.2fd058","x":1116,"y":121,"z":"820f9b60.7df068","wires":[]},{"id":"e00c0e9f.eae288","type":"function","name":"set collection name: file","func":"msg.payload = 'file';\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":113,"z":"820f9b60.7df068","wires":[["78597d85.87a684"]]},{"id":"1727c732.e8d839","type":"comment","name":"=========== UI ==========","info":" ","x":675.1429138183594,"y":383.8570508956909,"z":"820f9b60.7df068","wires":[]},{"id":"940f054f.6bf0f8","type":"http in","name":"","url":"/","method":"get","swaggerDoc":"","x":106.14291381835938,"y":458.8570508956909,"z":"820f9b60.7df068","wires":[["d9c7a5c8.263858"]]},{"id":"d9c7a5c8.263858","type":"ejs render","name":"","template":"index","x":543.1429138183594,"y":458.8570508956909,"z":"820f9b60.7df068","wires":[["263d8206.d9c27e"]]},{"id":"263d8206.d9c27e","type":"http response","name":"","x":791.1429138183594,"y":458.8570508956909,"z":"820f9b60.7df068","wires":[]},{"id":"507bb0d5.af845","type":"http in","name":"","url":"/api/file","method":"put","swaggerDoc":"","x":122.85711669921875,"y":1312.5714559555054,"z":"820f9b60.7df068","wires":[["76cd6960.893298"]]},{"id":"76cd6960.893298","type":"subflow:120089d9.edff76","name":"","x":334.85711669921875,"y":1312.5714559555054,"z":"820f9b60.7df068","wires":[["77de078b.8821f8"]]},{"id":"77de078b.8821f8","type":"function","name":"Prepare request parameter","func":"var id = msg.req.body.id;\nvar tags = msg.req.body.tags;\nvar description = msg.req.body.description;\n\nmsg.payload.id = id;\nmsg.payload.tags = tags;\nmsg.payload.description = description;\n\nreturn msg","outputs":1,"noerr":0,"x":601.8571166992188,"y":1312.5714559555054,"z":"820f9b60.7df068","wires":[["9a721a39.658de8"]]},{"id":"675a6eb1.98a59","type":"comment","name":"update file","info":"### Request METHOD: put\n\n#### id\n\nThe file id\n\n#### tags\n\nThe tags seperated by ,\n\n#### description\n\nThe description of file","x":118.85711669921875,"y":1275.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"adc3c1da.523c4","type":"http response","name":"","x":1080.8571166992188,"y":1312.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"be173612.41e8c8","type":"function","name":"Prepare index","func":"var collection = msg.payload;\n\nmsg.payload = {};\n\nmsg.payload.collection = collection;\n\nmsg.payload.name = 'file_server_full_text_index'\n\nmsg.payload.keys = {\n    originalname: 'text',\n    description: 'text',\n    extension: 'text',\n    tags: 'text'\n}\n\nmsg.payload.options = {\n    weights: {\n        originalname: 15,\n        description: 1,\n        extension: 10,\n        tags: 10\n    },\n    name: 'file_server_full_text_index'\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":237,"z":"820f9b60.7df068","wires":[["861b6246.79e4a"]]},{"id":"2d7c99f0.d28366","type":"inject","name":"Ensure file index","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":161,"y":237,"z":"820f9b60.7df068","wires":[["2fb4d3e8.d04b2c"]]},{"id":"861b6246.79e4a","type":"mongodb","name":"","server":"","collection":"","operation":"ensureIndex","x":1114,"y":237,"z":"820f9b60.7df068","wires":[["dc3da197.23c26"]]},{"id":"2fb4d3e8.d04b2c","type":"get property","name":"","property":"collection-file","x":522,"y":237,"z":"820f9b60.7df068","wires":[["be173612.41e8c8"]]},{"id":"dc3da197.23c26","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":1414,"y":237,"z":"820f9b60.7df068","wires":[]},{"id":"5d55ae78.a2aa5","type":"http in","name":"","url":"/api/file/search","method":"get","swaggerDoc":"","x":148.85711669921875,"y":1437.5714559555054,"z":"820f9b60.7df068","wires":[["1a237362.e5dc8d"]]},{"id":"1a237362.e5dc8d","type":"function","name":"request paramter","func":"var key = msg.req.query.key;\nvar limit = msg.req.query.limit;\nvar page = msg.req.query.page;\n\nmsg.payload.key = key || '';\nmsg.payload.limit = limit || 10;\nmsg.payload.page = page || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":397.85711669921875,"y":1437.5714559555054,"z":"820f9b60.7df068","wires":[["66acedd2.995314"]]},{"id":"f610af33.09ef5","type":"comment","name":"file full text search","info":"#### URL parameter\n\n**key** the search keywords\n**page** the return page number\n**limit** max number of records for a page\n","x":143.85711669921875,"y":1398.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"7104ae60.8efb5","type":"http response","name":"","x":879.8571166992188,"y":1436.5714559555054,"z":"820f9b60.7df068","wires":[]},{"id":"8a1b721b.75e49","type":"http in","name":"","url":"/file","method":"get","swaggerDoc":"","x":108.14291381835938,"y":548.8570508956909,"z":"820f9b60.7df068","wires":[["3890a8a4.c76f58"]]},{"id":"ed3353fa.12ccb","type":"ejs render","name":"","template":"file","x":628.1429138183594,"y":548.8570508956909,"z":"820f9b60.7df068","wires":[["3e851e8.fc17ae2"]]},{"id":"3e851e8.fc17ae2","type":"http response","name":"","x":796.1429138183594,"y":548.8570508956909,"z":"820f9b60.7df068","wires":[]},{"id":"3890a8a4.c76f58","type":"function","name":"find query","func":"var id = msg.req.query.id;\n\nmsg.payload = {\n    id: id\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":426.1429138183594,"y":548.8570508956909,"z":"820f9b60.7df068","wires":[["ed3353fa.12ccb"]]},{"id":"aedcdf28.51232","type":"http in","name":"","url":"/admin","method":"get","swaggerDoc":"","x":124.14291381835938,"y":636.8570508956909,"z":"820f9b60.7df068","wires":[["5f54580e.a0aba8"]]},{"id":"55ad8d42.aa5274","type":"ejs render","name":"","template":"admin","x":674.1429138183594,"y":636.8570556640625,"z":"820f9b60.7df068","wires":[["4e718df4.b18e74"]]},{"id":"4e718df4.b18e74","type":"http response","name":"","x":842.1429138183594,"y":636.8570556640625,"z":"820f9b60.7df068","wires":[]},{"id":"b220c8c3.4ddf38","type":"function","name":"find query","func":"var id = msg.req.query.id;\n\nmsg.payload = {\n    id: id\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":486.1429138183594,"y":636.8570556640625,"z":"820f9b60.7df068","wires":[["55ad8d42.aa5274"]]},{"id":"5f54580e.a0aba8","type":"subflow:120089d9.edff76","name":"","x":305.1429138183594,"y":636.8570556640625,"z":"820f9b60.7df068","wires":[["b220c8c3.4ddf38"]]},{"id":"9f2212eb.60ddf","type":"inject","name":"admin users","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":149,"y":306,"z":"820f9b60.7df068","wires":[["656769d1.9a9898"]]},{"id":"d1b0815d.2e4f8","type":"set property","name":"","property":"admin-tokens","x":699,"y":306,"z":"820f9b60.7df068","wires":[[]]},{"id":"656769d1.9a9898","type":"function","name":"set admin users","func":"// use online base64 encoder to encode your user name and password\n// add the encoded token to the list\n// your token should start with \"Basic \"\n\n// For example, user name: admin, password: adminpwd\n// you need to encode \"admin:adminpwd\"\n\nmsg.payload = \n[\n    \"Basic YWRtaW46YWRtaW4=\"  // admin:admin\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":306,"z":"820f9b60.7df068","wires":[["d1b0815d.2e4f8"]]},{"id":"f5f23fb2.0a0dc","type":"get property","name":"","property":"admin-tokens","x":345,"y":166,"z":"120089d9.edff76","wires":[["ab03ac1c.54fc5"]]},{"id":"f5e17bb3.0a1e88","type":"function","name":"prepare payload","func":"msg.tmp = msg.payload;\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":95,"z":"120089d9.edff76","wires":[["f5f23fb2.0a0dc"]]},{"id":"70579059.8fa87","type":"eventbus out","name":"","event":"file.removed","x":1478.6032104492188,"y":902.2221517562866,"z":"820f9b60.7df068","wires":[]},{"id":"b5ea88f5.4a1578","type":"function","name":"prepare file.removed event","func":"var deleteResult = msg.payload;\n\nif (deleteResult.ok != 1 || deleteResult.n <= 0) {\n    return null;\n}\n\nmsg.payload = {\n    path: msg.filePath\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1321.2143783569336,"y":968.2222166061401,"z":"820f9b60.7df068","wires":[["70579059.8fa87"]]},{"id":"3d634a7e.c29cb6","type":"eventbus in","name":"","event":"file.removed","x":181.85711669921875,"y":1531.5714559555054,"z":"820f9b60.7df068","wires":[["2a4c8737.d5b378"]]},{"id":"c29ffa51.3d6008","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":858.1626892089844,"y":1531.4602994918823,"z":"820f9b60.7df068","wires":[]},{"id":"1ec026a4.e13fd9","type":"function","name":"find query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.payload.id;\n\nmsg.query = {\n    selector: {\n        _id:  new ObjectID(id)\n    }\n};\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":347.50000762939453,"y":195.00000381469727,"z":"d43ac365.2bc54","wires":[["9bfff811.640008"]]},{"id":"9bfff811.640008","type":"get property","name":"","property":"collection-file","x":606,"y":195,"z":"d43ac365.2bc54","wires":[["3d79b66.fc2864a"]]},{"id":"f0e3877d.0f1c78","type":"mongodb","name":"","server":"","collection":"","operation":"find","x":1041.500015258789,"y":195.00000381469727,"z":"d43ac365.2bc54","wires":[["9b4da8c5.64b258"]]},{"id":"3d79b66.fc2864a","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":853.5000152587891,"y":195.00000381469727,"z":"d43ac365.2bc54","wires":[["f0e3877d.0f1c78"]]},{"id":"9b4da8c5.64b258","type":"function","name":"get file path to delete","func":"if (msg.payload && msg.payload.length && msg.payload.length > 0) {\n    msg.payload = msg.payload[0];\n} else {\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1293.5,"y":195,"z":"d43ac365.2bc54","wires":[[]]},{"id":"f3ce00ae.0c32","type":"function","name":"remove query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.payload.id;\n\nmsg.query = {\n    selector: {\n        _id: new ObjectID(id)\n    }\n};\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":250,"z":"787db83c.878248","wires":[["24a090a1.db5f7"]]},{"id":"24a090a1.db5f7","type":"get property","name":"","property":"collection-file","x":624,"y":250,"z":"787db83c.878248","wires":[["bfd3e26b.402c2"]]},{"id":"bfd3e26b.402c2","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":250,"z":"787db83c.878248","wires":[["28bd5f78.d742a"]]},{"id":"28bd5f78.d742a","type":"mongodb","name":"","server":"","collection":"","operation":"remove","x":1098,"y":250,"z":"787db83c.878248","wires":[[]]},{"id":"9d379f5c.62c86","type":"subflow:787db83c.878248","x":1133.8571319580078,"y":1037.5714378356934,"z":"820f9b60.7df068","wires":[["f60561f0.09faa","b5ea88f5.4a1578"]]},{"id":"d7de3321.2821d","type":"subflow:d43ac365.2bc54","x":768.6348648071289,"y":1036.9047708511353,"z":"820f9b60.7df068","wires":[["a0a4e26e.5f5b2"]]},{"id":"a0a4e26e.5f5b2","type":"function","name":"inject filePath","func":"if (msg.payload) {\n    msg.filePath = msg.payload.path;   \n    msg.payload.id = msg.req.query.id;\n} else {\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":950.857063293457,"y":1036.904803276062,"z":"820f9b60.7df068","wires":[["9d379f5c.62c86"]]},{"id":"19dbdbf5.e62424","type":"file delete","name":"","x":657.3015594482422,"y":1531.9048109054565,"z":"820f9b60.7df068","wires":[["c29ffa51.3d6008"]]},{"id":"2a4c8737.d5b378","type":"function","name":"prepare path","func":"if (!msg.path) {\n    return null;\n}\n\nmsg.payload = 'public/' + msg.path;\nreturn msg;","outputs":1,"noerr":0,"x":431.7460055881076,"y":1531.6825670666165,"z":"820f9b60.7df068","wires":[["19dbdbf5.e62424"]]},{"id":"d3f5af6c.2c0a5","type":"function","name":"search query","func":"var page = Number(msg.payload.page);\nvar limit = Number(msg.payload.limit);\n\nvar selector = {};\n\nmsg.query = {\n    selector: selector,\n    options: {\n        sort: [['createAt', 'desc']],\n        skip: page * limit,\n        limit: limit\n    }\n};\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":138,"z":"9810b069.67ef5","wires":[["e272f6b9.1d8d08"]]},{"id":"5672f232.a98d0c","type":"mongodb","name":"","server":"","collection":"","operation":"find","x":1248,"y":138,"z":"9810b069.67ef5","wires":[[]]},{"id":"ba701a05.458fe8","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":1038,"y":138,"z":"9810b069.67ef5","wires":[["5672f232.a98d0c"]]},{"id":"e272f6b9.1d8d08","type":"get property","name":"","property":"collection-file","x":768,"y":138,"z":"9810b069.67ef5","wires":[["ba701a05.458fe8"]]},{"id":"48a58654.b75a78","type":"subflow:9810b069.67ef5","x":644.8571166992188,"y":833.5714559555054,"z":"820f9b60.7df068","wires":[["90f04e76.6f0fb"]]},{"id":"56620490.a99dfc","type":"function","name":"find query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.payload.id;\n\nmsg.query = {\n    selector: {\n        _id:  new ObjectID(id)\n    }\n};\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":217,"y":152,"z":"d372bdf6.2c8d4","wires":[["f4a139f9.0b5ec8"]]},{"id":"f4a139f9.0b5ec8","type":"get property","name":"","property":"collection-file","x":435,"y":152,"z":"d372bdf6.2c8d4","wires":[["3af1d9b4.c50e26"]]},{"id":"3af1d9b4.c50e26","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":699,"y":152,"z":"d372bdf6.2c8d4","wires":[["7cdbab87.832454"]]},{"id":"7cdbab87.832454","type":"mongodb","name":"","server":"","collection":"","operation":"find","x":907,"y":152,"z":"d372bdf6.2c8d4","wires":[[]]},{"id":"bb279037.44d87","type":"subflow:d372bdf6.2c8d4","x":647.8571166992188,"y":934.5714559555054,"z":"820f9b60.7df068","wires":[["986736ca.6798c8"]]},{"id":"561b40cb.a9e4c","type":"function","name":"update tags query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.payload.id;\nvar tags = msg.payload.tags;\nvar description = msg.payload.description;\n\nif (!tags) {\n    tags = [];\n} else {\n    tags = tags.toLowerCase();\n    tags = tags.replace(/ /g, '');\n    tags = tags.split(',');\n}\n\nvar doc = {\n    tags: tags,\n    description: description\n};\n\nmsg.payload = {\n    selector: {\n        _id: new ObjectID(id)\n    },\n    doc: {\n        $set: doc\n    }    \n};\n\nmsg.query = msg.payload;\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":309,"y":187,"z":"3ea985c9.c1567a","wires":[["3a125f40.c5eda"]]},{"id":"72d70ebb.8d28f","type":"mongodb","name":"","server":"","collection":"","operation":"update","x":1131,"y":187,"z":"3ea985c9.c1567a","wires":[[]]},{"id":"3a125f40.c5eda","type":"get property","name":"","property":"collection-file","x":633,"y":187,"z":"3ea985c9.c1567a","wires":[["ff54198f.00abe8"]]},{"id":"ff54198f.00abe8","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":925,"y":187,"z":"3ea985c9.c1567a","wires":[["72d70ebb.8d28f"]]},{"id":"9a721a39.658de8","type":"subflow:3ea985c9.c1567a","x":869.8571166992188,"y":1312.5714559555054,"z":"820f9b60.7df068","wires":[["adc3c1da.523c4"]]},{"id":"3ed37c58.c12c84","type":"function","name":"search query","func":"var limit = Number(msg.payload.limit);\nvar page = Number(msg.payload.page);\n\nvar key = msg.payload.key;\n\nvar selector = {};\nvar sort = [['createAt', 'desc']]\n\nif (key) {\n    selector = {\n        $text: {\n            $search: key\n        }\n    };\n    \n    sort =  {\n        textScore: {\n            $meta: \"textScore\"\n        }\n    };\n}\n\nmsg.payload = {\n    selector: selector,\n    fields: {\n        textScore: {\n            $meta: \"textScore\"\n        }\n    },\n    options: {\n        sort: sort,\n        skip: limit * page,\n        limit: limit\n    }\n};\n\nmsg.page = page;\nmsg.limit = limit;\n\nmsg.query = msg.payload;\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":261,"y":239,"z":"b2ad4f85.4d52b","wires":[["e1d2acf3.1e2d5"]]},{"id":"e1d2acf3.1e2d5","type":"get property","name":"","property":"collection-file","x":530,"y":239,"z":"b2ad4f85.4d52b","wires":[["8584e5cf.7a7b18"]]},{"id":"8584e5cf.7a7b18","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":766,"y":239,"z":"b2ad4f85.4d52b","wires":[["b4d81376.4b27f"]]},{"id":"b4d81376.4b27f","type":"mongodb","name":"","server":"","collection":"","operation":"find","x":968,"y":239,"z":"b2ad4f85.4d52b","wires":[[]]},{"id":"66acedd2.995314","type":"subflow:b2ad4f85.4d52b","x":646.8571166992188,"y":1436.5714559555054,"z":"820f9b60.7df068","wires":[["7104ae60.8efb5","2f3461cb.d0cb9e"]]},{"id":"a3455558.5cbaa8","type":"function","name":"clear payload","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":161,"z":"5e7aba6d.a18544","wires":[["4a8f83e9.b5707c"]]},{"id":"4a8f83e9.b5707c","type":"get property","name":"","property":"accept-extensions","x":396,"y":249,"z":"5e7aba6d.a18544","wires":[["505d5ab5.afa2a4"]]},{"id":"505d5ab5.afa2a4","type":"function","name":"get uploaded file","func":"var eventbus = context.global.getService('eventbus');\n\nvar acceptedExtensions = msg.payload;\n\nvar req = msg.req;\n\nif (!req.files || !req.files.hasOwnProperty('fx-file')) {\n    eventbus.emit('http.upload.fail', msg);\n    return null;\n}\n\nmsg.payload = req.files['fx-file'];\n\nif (acceptedExtensions && acceptedExtensions.indexOf(msg.payload.extension) < 0) {\n    msg.statusCode = 400;\n    msg.payload.statusCode = 400;\n    eventbus.emit('http.upload.fail', msg);\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":162,"z":"5e7aba6d.a18544","wires":[["a794ea6.f586b18"]]},{"id":"a794ea6.f586b18","type":"function","name":"insert query","func":"var file = msg.payload;\n\nfile.createAt = new Date();\n\nvar home = context.global.getVariable('_home');\nhome = home.replace(/\\\\/g, '/');\nfile.path = file.path.replace(/\\\\/g, '/');\nfile.path = file.path.replace(home + '/public', '');\n\nmsg.query = {\n    doc: file\n};\n\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":678,"y":162,"z":"5e7aba6d.a18544","wires":[["ac1ad541.53e528"]]},{"id":"ac1ad541.53e528","type":"get property","name":"","property":"collection-file","x":839,"y":69,"z":"5e7aba6d.a18544","wires":[["120d3406.edf2cc"]]},{"id":"120d3406.edf2cc","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":1018,"y":164,"z":"5e7aba6d.a18544","wires":[["7eef2ec2.8110d"]]},{"id":"7eef2ec2.8110d","type":"mongodb","name":"","server":"","collection":"","operation":"insert","x":1219,"y":164,"z":"5e7aba6d.a18544","wires":[[]]},{"id":"bf8924c3.4076d8","type":"subflow:5e7aba6d.a18544","x":648.8571166992188,"y":1149.5714559555054,"z":"820f9b60.7df068","wires":[["7e304911.81cfb8"]]},{"id":"2f3461cb.d0cb9e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":828,"y":1381,"z":"820f9b60.7df068","wires":[]}]